.sect-6 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px 25px;
    background-image: url(../img/sect6img.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.sect6-links{
    list-style: none;
}


.cont-6 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.sect6-title {

    width: 557px;
    height: 112px;
    font-family: 'IBM Plex Mono';
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}

.sect6-info {
    width: 570px;
    height: 41px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #666666;

}




.item6-div {
    width: 570px;
    height: 134px;
    margin: 32px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    h2 {
        width: 300px;
        height: 30px;
        font-family: 'IBM Plex Mono';
        font-size: 20px;
        line-height: 150%;
        color: #000000;
    }

    p {
        width: 392px;
        height: 46px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 15px;
        line-height: 150%;
        color: #666666;

    }


    div {
        margin-left: 29px;
    }
}


.item6-div:hover{
    box-shadow: 5px 5px 20px #E9E4D5;
    border-radius: 15px;
}


.sect-7links{
    list-style: none;
}
