


.cont11{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.carousel{
    margin-top: 30px;
    width: 550px;
    height: 251px;
}





.sect11-title {
    width: 450px;
    height: 68px;
    left: 859px;
    top: 4678px;

    font-family: 'Noto Sans';
    font-size: 45px;
    line-height: 150%;
    color: #000000;
    text-align: center;



}


.sect11-info {
    width: 450px;
    height: 24px;
    font-family: 'Noto Sans';
    font-size: 16px;
    line-height: 150%;
    color: #666666;
    text-align: center;

}


.sect12{
    margin: 30px 20px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.h6{
    width: 520px;
    text-align: center;
}