.sect2 {
    background: #fff;
    height: 243px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 97px 80px;
}
.past-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.past-item{
    margin: 0px 20px;
}

